.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    margin-right: 30px;
    margin-top: 12px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    line-height: 100%;
    text-align: left;
    float: left;
}

.amenities {
    height: 100%;
    width: 25%;
    line-height: 100%;
    text-align: left;
    float: left;
}
.amenities input {
    margin-right: 10px;
}

.popover {
    position: relative;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 91.5%;
    max-height: 300px;
    display: none;
    z-index: 1;
    overflow: auto;
}
.locations > .popover > li {
    margin-bottom: 30px;
    margin-left: 30px;
}
.locations > .popover > li > ul {
    padding-left: 5px;
}
.locations > .popover > li > ul > li {
    margin-bottom: 10px;
}
.popover, .popover ul {
    list-style-type: none;
}

.popover::-webkit-scrollbar {
    display: block;
}

.locations:hover .popover {
    display: block;
}

.amenities .popover{
    float: right;
    padding-left: 7px;
    width: 97%;
}

.amenities:hover .popover{
    display: block;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}

li {
    color: black;
    list-style: none;
}

h3 {
    font-weight: 600;
    font-size: 17px;
    color: black;
    padding-left: 40px;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    color: black;
    padding-left: 20px;
    margin-top: -10px;
    white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis; 
}

h2 {
    color: black;
    font-size: 16px;
}
